/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
* require main
*= require bootstrap
*= require bootstrap-theme
*= require_self
*/



html,
body {
    height: 100%;
    position: relative;
}

.page-container {
    width: 100%;
    display: table;
    height: 100%;
    table-layout: fixed;
}
@media screen and (max-width: 768px) {
    .page-container {
        display: block;
    }
}
.page-container.loaded .page-container {
    position: relative;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar-menu
 */

.page-container .sidebar-menu {
    display: table-cell;
    vertical-align: top;
    width: 280px;
    position: relative;
    z-index: 100;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #303642;
    color: #aaabae;
    font-size: 13px;
    border-right: 1px solid #3e444e;
}
@media screen and (max-width: 767px) {
    .page-container .sidebar-menu {
        display: block;
    }
}

.page-container .main-content {
    position: relative;
    /*
  float: left;
          z-index: 2;
  */
    display: table-cell;
    vertical-align: top;
    padding: 20px 20px 30px 30px;
    background: #ffffff;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media screen and (max-width: 767px) {
    .page-container .main-content {
        display: block;
    }
}

.main-content .page-header {
    margin-top: 0;
}

.sidebar-menu .sidebar-header {
    width: 100%;
    margin-bottom: 20px;
}

.sidebar-menu .sidebar-header .logo a {
    color: #aaabae;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.sidebar-menu .sidebar-header .logo a:hover {
    text-decoration: none;
}

.sidebar-menu .sidebar-header .logo a:active {
    text-decoration: none;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        width: 280px;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #303642;
        color: #aaabae;
        font-size: 13px;
        border-right: 1px solid #3e444e;
        //-moz-box-shadow: - 1 px 0 0.3 em #000;
        //-webkit-box-shadow: - 1 px 0 0.3 em #000;
        //box-shadow: - 1 px 0 0.3 em #000;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    color: #aaabae;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid rgba(69, 74, 84, 0.4);
}

.nav-sidebar li a:focus,
.nav-sidebar > li > a:hover {
    color: #fff;
    background-color: #363c47;
    // -webkit-box-shadow: inset 6 px 0 px 0 px 0 px #423987;
    // -moz-box-shadow: inset 6 px 0 px 0 px 0 px #423987;
    // box-shadow: inset 6 px 0 px 0 px 0 px #423987;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
}

.nav-sidebar .divider {
    *width: 100%;
    height: 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    //background-color: #262a33;
    //border-bottom: 1px solid #3e444e;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #2b303a;
}

.nav-sidebar .glyphicon {
    padding-right: 10px;
}

.nav-bottom{
    width: 100%;
    position: absolute;
    bottom: 2px;
}

.sidebar .sidebar-header {
    width: 100%;
    margin-bottom: 20px;
}

.sidebar .sidebar-header .logo a {
    color: #aaabae;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.sidebar .sidebar-header .logo a:hover {
    text-decoration: none;
}

.sidebar .sidebar-header .logo a:active {
    text-decoration: none;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/*
 * Main content
 */

.page-body {
    margin-left: 280px;
}

@media (max-width: 768px) {
    .page-body {
        margin-left: 0;
    }
}

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

.titulo-crud {
    padding-bottom: 15px;"
}

.titulo-main {
    font-weight: bold;
    font-size: 48px;
}

select[id*='_day'],
select[id*='_month'],
select[id*='_year'] {
    padding: 4px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

select[id*='_day']:focus,
select[id*='_month']:focus,
select[id*='_year']:focus {
    border-color: #588cbc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

select[id*='_day'][disabled],
select[id*='_month'][disabled],
select[id*='_year'][disabled] {
    background-color: #eee;
    opacity: 1;
}

.clickable-row {
    cursor: pointer;
}

.bs-callout {
    position: relative;
    padding: 20px;
    //margin: 20px 0;
    border: 1px solid #eee;
    border-top-width: 3px;
    //border-radius: 3px;

    margin-bottom: 20px;
    -webkit-border-radius: 5px 5px 3px 3px;
    -moz-border-radius: 5px 5px 3px 3px;
    border-radius: 5px 5px 3px 3px;
    //box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-top-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-top-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-top-color: #5cb85c;
}
.bs-callout-success h4,
.bs-callout-success h1 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-top-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-top-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-top-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.bs-callout .titulo-main {
    font-weight: bold;
    font-size: 60px;
}


.huge {
    font-size: 50px;
    line-height: normal;
}

.glyph-big {
    font-size: 72px;
}

.circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.circle-lg {
    width: 75px;
    height: 75px;
    padding: 19px 16px;
    font-size: 36px;
    line-height: 1.33;
    border-radius: 100%;
    color: #FFF;
}

.tile-primary .circle {
    background-color: #265a88;
}

.tile-success .circle {
    background-color: #419641;
}

.tile-warning .circle {
    background-color: #eb9316;
}

.tile-danger .circle {
    background-color: #c12e2a;
}

.tile-info .circle {
    background-color: #2aabd2;
}

.tile-primary .huge {
    color: #265a88;
}

.tile-success .huge {
    color: #419641;
}

.tile-warning .huge {
    color: #eb9316;
}

.tile-danger .huge {
    color: #c12e2a;
}

.tile-info .huge {
    color: #2aabd2;
}

.sub-text {
    font-family: inherit;
    color: #777;
}


.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
    color: #777;
    cursor: default;
    background-color: #eee;
}


.form-control {
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    border-color: #588cbc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-warning .panel-heading {
    background-color: #ebd362;
    color: #765b35;
}

.panel-warning {
    border-color: #ebd362;
}


.padr5 {
    padding-right: 5px;
}







