/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
* require main
*= require bootstrap
*= require bootstrap-theme
*= require mobile
*= require_self
*/

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        width: 280px;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #303642;
        color: #aaabae;
        font-size: 13px;
        border-right: 1px solid #3e444e;
        //-moz-box-shadow: - 1 px 0 0.3 em #000;
        //-webkit-box-shadow: - 1 px 0 0.3 em #000;
        //box-shadow: - 1 px 0 0.3 em #000;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    color: #aaabae;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid rgba(69, 74, 84, 0.4);
}

.nav-sidebar li a:focus,
.nav-sidebar > li > a:hover {
    color: #fff;
    background-color: #363c47;
    // -webkit-box-shadow: inset 6 px 0 px 0 px 0 px #423987;
    // -moz-box-shadow: inset 6 px 0 px 0 px 0 px #423987;
    // box-shadow: inset 6 px 0 px 0 px 0 px #423987;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
}

.nav-sidebar .divider {
    *width: 100%;
    height: 2px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #262a33;
    border-bottom: 1px solid #3e444e;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #2b303a;
}

.nav-sidebar .glyphicon {
    padding-right: 10px;
}

.nav-bottom{
    width: 100%;
    position: absolute;
    bottom: 2px;
}

.sidebar .sidebar-header {
    width: 100%;
    margin-bottom: 20px;
}

.sidebar .sidebar-header .logo a {
    color: #aaabae;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.sidebar .sidebar-header .logo a:hover {
    text-decoration: none;
}

.sidebar .sidebar-header .logo a:active {
    text-decoration: none;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/*
 * Main content
 */

.page-body {
    margin-left: 280px;
}

@media (max-width: 768px) {
    .page-body {
        margin-left: 0;
    }
}

.main {
    padding: 20px;
    padding-top: 60px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

